@model Product

@{ 
    ViewData["Title"] = "Add New Product";
}

<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>Add New Product</h4>
        </p>

        <form asp-action="CreateProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group text-center">
                        <img id="ImagePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" accept="image/*" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductCategoryId" class="control-label"></label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => Model.ProductCategoryId, new SelectList(Model.ProductCategories, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "ProductCategoryId" })
                            @Html.ValidationMessageFor(x => x.ProductCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div><div class="form-group">
                        <label asp-for="StatusId" class="control-label"></label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => Model.StatusId, new SelectList(Model.Statuses, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "StatusId" })
                            @Html.ValidationMessageFor(x => x.StatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="GenderId" class="control-label"></label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => Model.GenderId, new SelectList(Model.Genders, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "GenderId" })
                            @Html.ValidationMessageFor(x => x.GenderId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </div>
            </div>
        </form>        
    </div>
</div>

@section Scripts {
    <script>
        $("#ImageFile").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>
}