@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Management";
}

<div class="page-title">
    <h2>Products</h2>
</div>

<div class="page-body">
    <div class="row">
        <div class="table-responsive-md col-12">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Image</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle col-lg-auto">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="align-middle col-lg-auto">
                                @*<img alt="@item.Name" style="max-width: 150px" src="@item.Image"/>*@
                            </td>
                            <td class="align-middle col-lg-auto">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="align-middle col-lg-auto">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="align-middle col-lg-auto">
                                <a class="btn btn-info bi bi-eye text-white">&nbsp;View</a>
                                <a class="btn btn-primary bi bi-pencil-square text-white">&nbsp;Edit</a>
                                <a class="btn btn-danger bi bi-trash text-white">&nbsp;Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="text-white" style="position: fixed; right: 25px; bottom: 25px">
    <a asp-controller="Products" asp-action="CreateProduct" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>&nbsp;Add New Product
    </a>
</div>
