@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <h2>Products</h2>
</div>

<div class="page-body">
    <div class="text-white" style="position: fixed; right: 25px; top: 25px">
        <a asp-controller="Products" asp-action="CreateProduct" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>&nbsp;Add New Product
        </a>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive-md col-xl-auto">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle col-lg-3" rowspan="5">
                                    <img alt="@item.Name" src="@String.Format("data:image/jpg;base64,{0}", item.Image)" width="150" height="150" />
                                </td>
                                <td class="align-middle">
                                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                </td>
                                <td class="align-middle col-2" rowspan="5">
                                    <div class="btn">
                                        <strong>
                                            <a asp-controller="Administrator" asp-action="UnderConstruction" class="btn btn-block">&nbsp;UPDATE PRODUCT</a>
                                        </strong></div>
                                    <div class="btn btn-block"><strong>&nbsp;DELETE PRODUCT</strong></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle col-lg-auto">
                                    <strong>@Html.DisplayFor(modelItem => item.Description)</strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle col-lg-auto">
                                    VARIANTS: --
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle col-lg-auto">
                                    AVAILABLE SIZES: --
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle col-lg-auto">
                                    STOCKS LEFT: --
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*Stock Count*@
        <div class="col col-xl-3">
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th colspan="2">Stock Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Take(2))
                        {
                            <tr>
                                <td class="align-middle" rowspan="2">
                                    <img alt="@item.Name" src="@String.Format("data:image/jpg;base64,{0}", item.Image)" width="100" height="100" />
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <font color="#ff0000"><strong>STOCKS LEFT: --</strong></font>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
